@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 224, 224, 224;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
      rgb(var(--background-start-rgb));
  font-family: system-ui, -apple-system, sans-serif;
}

.phoenix-portal {
  background: #050505;
}

.text-gold {
  color: #d4af37;
}

.border-gold {
  border-color: #d4af37;
}

.bg-gold {
  background-color: #d4af37;
}